@import "https://js.arcgis.com/4.19/@arcgis/core/assets/esri/themes/light/main.css";
@import url('https://fonts.googleapis.com/css2?family=Tourney:ital,wght@0,100..900;1,100..900&display=swap');

html,
body,
#viewDiv {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

.esri-popup__inline-actions-container {
  display: none;
}
 
.weather-widget {
  background-color: #ffffff;
  color: white;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  margin-top: 20px;
  font-family: "Avenir Next","Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #2b2b2b;
}

.weather-widget p {
  margin: 2px 0; 
  line-height: 1; 
}


.weather-widget h4 {
  font-size: 18px;
  margin-bottom: 10px;
  color: #08ff08;
}

.weather-widget img {
  width: 50px;
  height: 50px;
  vertical-align: middle;
}

.weather-details {
  display: flex;
  flex-direction: column;
  gap: 8px;
}


.viewpointBtn {
  background: none;
  border: none;
  border-radius: 10px;
  font-family: "Avenir Next","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 1em;
  color: rgb(100, 100, 100);
  display: inline;
  cursor: pointer;
}

.main {
  background-color: #2b2b2b;
  padding: 0;
  font-family: 'Tourney', sans-serif, Arial;
  color: #ffffff;
  overflow: auto;
}

.main p {
  line-height: 1.7em;
}

h4 {
  margin: 0;
  align-content: center;
}

video {
  width: 100%;
  border-radius: 10px;
  outline: none;
}
#video-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 48px;
  color: #000; /* Matte black color */
  opacity: 0.8;
  cursor: pointer;
  display: none;
}
.video-container {
  position: relative;
  display: inline-block;
  width: 100%;
  max-width: 600px;
}
.video-container:hover #video-overlay {
  display: block;
}

#video.fullscreen {
  width: 80%;
  height: auto;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  background: black;
}

#openButton {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #2b2b2b;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#openButton:hover {
  background-color: #ffffff;
  color: #2b2b2b;
}

#hikeHome {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #2b2b2b;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#hikeHome:hover {
  background-color: #ffffff;
  color: #2b2b2b;
}

.section {
 padding-bottom: 1em;
}

.title {
  background-color: #2b2b2b;
  color: #ffffff;
  padding: 0.5em 1.5em;
}

.sections {
  padding: 1.5em;
}

#miniMap {
  height: 200px;
  width: 90%;
  margin: 0 auto;
}

.blue {
  background-color: rgba(17, 121, 207, 0.3);
}

button.blue:hover {
  background-color: rgba(17, 121, 207, 0.6);
  color: white;
}

.brown {
  background-color: rgba(158, 114, 82, 0.3);
}

button.brown:hover {
  background-color: rgba(158, 114, 82, 0.6);
  color: white;
}

a {
  color: #08ff08;
  text-decoration: none;
}

/* large screen and medium screen */

@media screen
  and (min-width: 681px) {
    .main {
      position: absolute;
      top: 15px;
      left: 15px;
      bottom: 15px;
      max-width: 400px;
    }
}

/* mobile */

@media screen
  and (min-width: 320px)
  and (max-width: 680px) {
    .main {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 40%;
    }
  }

  .esri-button--tertiary {
    color:  #08ff08;
  }
